<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Be Happy. Be Bright. Be You.</string>
	<string>Never stop dreaming.</string>
	<string>May you live everyday of your life.</string>
	<string>Aspire to inspire before we expire.</string>
	<string>Begin with the end in mind.</string>
	<string>To be or not to be.</string>
	<string>It always seems impossible until its done. 
</string>
	<string>Good, better, best. Never let it rest.
Read more at: http://www.brainyquote.com/quotes/topics/topic_motivational.html</string>
</array>
</plist>
